.env
/.vscode
ch05/20newsbydate/
ch06/sample.csv
"ch12/glove_data/glove.6B.zip" 
ch12/glove_data/glove.6B.zip
ch13/training_checkpoints/
LLM3/chroma_db_reg2
LLM3/monitering/local_traces.db
multomodal/vit_finetuned_food101/
multomodal/vit_finetuned_food101_final/
multomodal/Data/
multomodal/2.middle/data/
